@import "tailwindcss";

.hero-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)),
    url("hero.png");
}
.shimmer {
  animation: shimmer 1.5s infinite linear;
  background: linear-gradient(to right, #2c2c2c 4%, #333 25%, #2c2c2c 36%);
  background-size: 200% 100%;
  position: relative;
  z-index: 10;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
/* Ẩn thanh cuộn trên Chrome, Safari */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Ẩn thanh cuộn trên Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}
